@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Oswald');

video {
    display: block;
}

.consult {
    width: auto;
    height: 500px;
    background-color: #4B0082;
    /* other colors: #DB3EB1   #4D4DFF   #0001db   #e889fb   #o9d4da   d30000   #295e62 */
    text-align: center;
    /* font-family: 'Oswald'; */
    font-family: 'Roboto';
    font-size: x-large;
} 

.consult-h1{
    color: white;
    position: relative;
    top: 70px;
    font-weight: -100;
    font-size: 90px;
    /* text does not wrap */
    white-space: nowrap;
}

.consult-h2 {
    color: palevioletred;
    position: relative;
    top: 100px;
    font-size: 30px;
}

#consult-btn {
    background-color: white;
    color: black;
    position: relative;
    top: 150px;
}

.container_img_grid_home {
    /* min-width: 100%; */
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0px;
}

.home_img_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.home_card_img {
    height: 100%;
    width: 100%;
    image-rendering: optimizeQuality;
}

#home_img_grid_override .card {
    color: white;
    background-color: rgb(33,37,41);
    /* background-color: white; */
    padding: 0;
    margin: 0;
    border-width: 0px;
    border-radius: 0%;
    text-align: center;
    justify-content: center;
}

#home_img_grid_override .card-btn {
    background-color: white;
    color: black;
    border-color: white;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.after_grid_img {
    /* height: 700px; */
    aspect-ratio: 2 / 1;
    width: 100%;
    image-rendering: optimizeQuality;
}

.home_mission_div {
    color: white;
    /* background-color: white; */
    background-color: rgb(33,37,41);
    /* background-color: #4B0082; */
    justify-content: center;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
}

.home_mission_paragraph {
    margin-top: 70px;
    margin-bottom: 70px;
    padding-left: 50px;
    padding-right: 50px;
}

#home_mission_btn {
    background-color: white;
    color: black;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.container_review_grid {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 100px;
}

.review_grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

#review_grid_override .card {
    color: white;
    background-color: rgb(33,37,41);
    /* background-color: white; */
    padding: 0;
    margin: 0;
    border-width: 0px;
    border-radius: 0%;
    text-align: center;
    justify-content: center;
}

.review_card_img {
    /* circular image that sits in the middle of the div */
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.review_span {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 40px;
}

.instagram_feed {
    /* background-color: white; */
    height: 100%;
}

@media (max-width: 991px) {
    .consult-h1{
        font-size: 70px;
    }
    
}

@media (max-width: 770px) {
    .consult-h1{
        font-size: 50px;
    }

    .review_grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        /* center the grid */
        margin-left: auto;
        margin-right: auto;
    }

    /* make the home_img_grid 1 column instead of 3 */
    .home_img_grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    #home_img_grid_override .card {
        height: 401px;
        padding: 0;
        margin: 0;
        border-width: 0px;
        border-radius: 0%;
        text-align: center;
        justify-content: center;
    }

    #review_grid_override .review_card{
        margin-bottom: 40px;
    }
    
}

@media (max-width: 500px) {
    .consult{
        height: 400px;
    }

    .consult-h1{
        font-size: 40px;
    }

    .consult-h2 {
        font-size: 20px;
    }

    #home_img_grid_override .card {
        height: 201px;
        padding: 0;
        margin: 0;
        border-width: 0px;
        border-radius: 0%;
        text-align: center;
        justify-content: center;
    }
}
