@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Oswald');

/* possible colors: #4B0082 #DB3EB1   #4D4DFF   #0001db   #e889fb   #o9d4da   d30000   #295e62 */

@keyframes backgroundpan {
    from {
        background-position: 0% center;
    }   
    to {
        background-position: -200% center;
    }
}

.home {
    background-color: white;
}

/* video and overlay text that should be directly below topbar */
/* ----------------------------------------------------------------------------------------------- */
.home_video_div {
    position: relative;
    display: block;
}

video {
    display: block;
}

.home_gif_div {
    position: relative;
    display: block;
    width: 100%;
}

.gif {
    display: block;
    width: 100%;
    opacity: 100%;
    /* filter: blur(5px); */
}

.consult {
    position: absolute;
    width: auto;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Roboto';
} 

.consult_h1 > h1{
    color: white;
    position: relative;
    font-weight: -100;
    font-size: 90px;
    white-space: nowrap;
}

.consult_h2 > h2{
    color: white;
    position: relative;
    margin-top: 30px;
    font-size: 30px;
}

#consult_btn {
    appearance: none;
    background-color: #4B0082;
    color: white;
    position: relative;
    margin-top: 50px;
    font-size: 17px;
    border-color: white;
    border-width: 1px;
    padding: 10px 20px 10px 20px;
}

.video_waves {
    position: absolute;
    /* height: 400px; */
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg) translateY(-1vw)
    /* display: none; */
    
    /* background-image: linear-gradient(#4B0082 15%,rgb(33,37,41)); */
    /* background-size: 100% 125%; */
    /* background-attachment: fixed; */
}

.video_waves svg {
    position: relative;
    display: block;
    width: calc(147% + 1.3px);
    height: 153px;
}

.video_waves .shape-fill {
    fill: #212529;
}

/* .drip {
    position: absolute;
    transform: translateY(-8.2vw);
    width: 100%;
    z-index: 100;
    display: none;
} */

.laser-beam {
    display: none;
    position: absolute;
    width: 10px;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 0, 0, 0), rgb(255, 243, 5));
    animation: laser-beam-animation 3s ease-in-out infinite;
  }
  
  @keyframes laser-beam-animation {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(100%);
    }
  }
  
/* ----------------------------------------------------------------------------------------------- */

/* .waves1 {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg) translateY(22.2vw);
    
    background-image: linear-gradient(#4B0082 15%,rgb(33,37,41));
    background-size: 100% 125%;
    background-attachment: fixed;
}

.waves1 svg {
    position: relative;
    display: block;
    width: calc(120% + 1.3px);
    height: 253px;
}

.waves1 .shape-fill {
    fill: #212529;
} */

.between_waves_1_2 {
    height: 155vw;
    background-image: linear-gradient(rgb(33,37,41) 15%, #4B0082);
}

.home_serv_img1_div {
    padding-top: 100px;
    background-color: transparent;
    height: auto;
    width: 100%;
}

.home_serv_img_left {
    /* margin-left: 10px; */
    height: 40vw;
    aspect-ratio: 1 / 1;
    image-rendering: optimizeQuality;
    object-fit: cover;
    /* transform: translateX(-10vw); */
    border-radius: 0 50% 50% 0;
    box-shadow: 0px 0px 3vmax 0vmax palevioletred;
    /* clip-path: inset( 0vmax 0vmax 0vmax 0vmax); */
}

.home_serv_text_right {
    position: absolute;
    color: white;
    margin-top: 13vw;
    margin-left: 55vw;
    right: 10vw;
    display: inline-block;
    text-align: center;
}

.home_serv_text_right > span{
    font-size: 22px;

    /* animation: backgroundpan 4s linear infinite;
    background: linear-gradient(to right, purple, violet, black, purple);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%; */
}

.home_serv_img2_div {
    background-color: transparent;
    height: auto;
    width: 100%;
    text-align: right;
}

.home_serv_img_right {
    /* margin-right: 10px; */
    height: 40vw;
    aspect-ratio: 1 / 1;
    image-rendering: optimizeQuality;
    object-fit: cover;
    border-radius: 50% 0 0 50%;
    box-shadow: 0vmax 0px 3vmax 0vmax palevioletred;
    /* clip-path: inset( 0vmax 0vmax 0vmax -100vmax); */
}

.home_serv_text_left {
    height: auto;
    width: auto;
    position: absolute;
    color: white;
    left: 10vw;
    margin-top: 12vw;
    margin-right: 55vw;
    display: inline;
    text-align: center;
}

.home_serv_text_left > span {
    font-size: 22px;
}

.home_serv_img3_div {
    background-color: transparent;
    height: auto;
    width: 100%;
}

.home_serv_btn_div {
    display: flex;
    height: 20vw;
    align-items: center;
    justify-content: center;
}

#home_serv_btn {
    visibility: visible;
    appearance: none;
    background-color: #4B0082;
    color: white;
    font-size: 17px;
    border-color: white;
    border-width: 1px;
    padding: 10px 20px 10px 20px;
}

.waves2 {
    /* position: absolute; */
    /* height: 800px; */
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    /* transform: rotate(180deg); */

    /* background-image: linear-gradient(#4B0082 15%,rgb(33,37,41)); */
}

.waves2 svg {
    position: relative;
    display: block;
    width: calc(224% + 1.3px);
    height: 242px;
    transform: rotateY(180deg);
    z-index: 0;
}

.waves2 .shape-fill {
    fill: #4B0082;
}

.home_mobile_txt_div {
    visibility: hidden;
}

/* !Old version of home page! - Grid that holds cards that consist of images and buttons that should be directly below video */
/* ----------------------------------------------------------------------------------------------- */
/* .container_img_grid_home {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0px;
    display: none;
} */

/* .home_img_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
} */

/* .home_card_img {
    height: 500px;
    width: 100%;
    aspect-ratio: 1 / 1;
    image-rendering: optimizeQuality;
    object-fit: cover;
    transform: translateX(-10vw);
    border-radius: 0 50% 50% 0;
} */

/* #home_img_grid_override .card {
    color: white;
    background: transparent;
    width: 100%;
    height: 401px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    border-width: 0px;
    border-radius: 0%;
    text-align: center;
    justify-content: center;
    z-index: 0;
} */

/* #home_img_grid_override .card-btn {
    background-color: white;
    color: black;
    border-color: white;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
} */
/* ----------------------------------------------------------------------------------------------- */

.after_grid_img {
    /* height: 700px; */
    aspect-ratio: 2 / 1;
    width: 100%;
    image-rendering: optimizeQuality;
    display: none;
}

/* mission statement and button that should be below the standalone image after the image grid */
/* ----------------------------------------------------------------------------------------------- */
.home_mission_div {
    color: black;
    /* background-color: rgb(33,37,41); */
    /* background: transparent; */
    justify-content: center;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
}

.home_mission_paragraph {
    margin-top: 70px;
    margin-bottom: 70px;
    padding-left: 50px;
    padding-right: 50px;
}

#home_mission_btn {
    appearance: none;
    /* background-color: #4B0082; */
    /* color: white; */
    background-color: white;
    color: #4B0082;
    border-color: #4B0082;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
/* ----------------------------------------------------------------------------------------------- */

/* Grid that holds cards that contain profile images and reviews pulled from google that is below mission statement */
/* ----------------------------------------------------------------------------------------------- */
.container_review_grid {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 100px;
}

.review_grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

#review_grid_override .card {
    color: black;
    /* background-color: rgb(33,37,41); */
    background: transparent;
    padding: 0;
    margin: 0;
    border-width: 0px;
    border-radius: 0%;
    text-align: center;
    justify-content: center;
}

.review_card_img {
    /* circular image that sits in the middle of the div */
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.review_span {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 40px;
}

.review_btn_div {
    display: flex;
    justify-content: center;
}

#home_review_btn {
    appearance: none;
    /* background-color: #4B0082; */
    /* color: white; */
    background-color: white;
    color: #4B0082;
    border-color: #4B0082;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
/* ----------------------------------------------------------------------------------------------- */

/* Waves with instagram header and feed below*/
/* ----------------------------------------------------------------------------------------------- */
.waves3 {
    /* position: absolute; */
    height: 200px;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);

    /* background-image: linear-gradient(#4B0082 15%,rgb(33,37,41)); */
}

.waves3 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 116px;
}

.waves3 .shape-fill {
    fill: #212529;
}

.instagram_header_div {
    height: 200px;
    background-color: rgb(33,37,41);
}

.instagram_header {
    width: max-content;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 3rem 0 0 0;
    background-color: rgb(33,37,41);
}

.instagram_profile_pic_wrapper {
    /* display: flex; */
    height: 105px;
    width: 105px;
    border-radius: 50%;
    /* color: white; */
    background-image: linear-gradient(40deg, rgb(249, 155, 74) 15%, rgb(221, 48, 113) 50%, rgb(199, 46, 141) 85%);
}

.instagram_profile_pic {
    height: 100px;
    width: 100px;
    margin: .17rem auto auto auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    background-color: #212529;
}

.instagram_profile_pic > img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.instagram_profile_info{
    margin-left: 1rem;
}

.instagram_profile_info > h1 {
    color: white;
    margin: 0;
    font-size: 1.5vw;
    font-weight: bold;
}

.counts {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    color: white;
}

.count {
    display: flex;
    flex-direction: column;
    margin-right: 2vw;
    font-size: 1.1vw;
}

.count span {
    font-weight: bold;
}

#instagram_follow_btn {
    appearance: none;
    margin-left: 3vw;
    /* margin-right: 1rem; */
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid white;
    border-radius: 0.5rem;
    background-color:#4B0082;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.instagram_feed {
    /* padding-left: 30px;
    padding-right: 30px; */
    /* height: 140vh; */
    background-image: linear-gradient(rgb(33,37,41) , #4B0082 );
    background-size: 100% 185%;
    background-position: fixed;
    /* box-shadow: 0px 0px 0vmax 1vmax #3b0165; */
    /* clip-path: inset( 0vmax 0vmax -1vmax 0vmax); */
    /* transform: translateY(.1vw); */
}

/* ----------------------------------------------------------------------------------------------- */
@media (max-width: 991px) {
    .consult_h1 > h1{
        font-size: 80px;
    }

    .video_waves {
        transform: rotate(180deg) translateY(-0.1vw);
    }

    .video_waves svg {
        height: 113px;
    }

    /* .between_waves_1_2 {
        height: 150vw;
    } */

    .waves2 {
        transform: translateY(-0.1vw);
    }

    .waves2 svg {
        height: 113px;
    }

    .home_mission_div > h1{
        font-size: 4vw;
    }

    .waves3 {
        transform: rotate(180deg) translateY(-0.2vw);
    }

    .waves3 svg {
        height: 83px;
    }

    .instagram_profile_pic_wrapper {
        height: 85px;
        width: 85px;
    }

    .instagram_profile_pic {
        height: 80px;
        width: 80px;
    }
    
    .instagram_profile_info > h1 {
        font-size: 2vw;
    }
    
    .counts {
        margin-top: 0.5rem;
    }
    
    .count {
        margin-right: 2vw;
        font-size: 1.7vw;
    }
    
    #instagram_follow_btn {
        margin-left: 3vw;
        margin-top: 0.5rem;
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }

    .instagram_feed {
        transform: translateY(.1px);
    }

    /* #home_img_grid_override .card {
        height: 300px;
    } */
    
}
/* ----------------------------------------------------------------------------------------------- */
@media (max-width: 770px) {
    .consult_h1 > h1{
        font-size: 70px;
        margin-top: -45px;
    }
    
    .consult_h2 > h2{
        font-size: 25px;
    }

    /* .between_waves_1_2 {
        height: 150vw;
    } */

    .home_serv_img1_div {
        padding-top: 50px;
    }

    .home_serv_text_right {
        width: 40%;
        margin-top: 14vw;
    }

    .home_serv_text_right > span{
        font-size: 15px;
    }

    .home_serv_text_left {
        width: 40%;
        margin-top: 14vw;
    }

    .home_serv_text_left > span{
        font-size: 15px;
    }
    
    .container_review_grid{
        padding-bottom: 0;
    }

    .review_grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        /* center the grid */
        margin-left: auto;
        margin-right: auto;
    }

    /* make the home_img_grid 1 column instead of 3 */
    .home_img_grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    #home_img_grid_override .card {
        height: 401px;
    }

    #review_grid_override .review_card{
        margin-bottom: 40px;
    }
}
/* ----------------------------------------------------------------------------------------------- */
@media (max-width: 670px) {
    .between_waves_1_2 {
        height: 160vw;
    }

    .home_mission_div > h1{
        font-size: 5vw;
    }

    .instagram_header_div {
        height: 160px;
    }

    .instagram_profile_pic_wrapper {
        height: 75px;
        width: 75px;
    }

    .instagram_profile_pic {
        height: 70px;
        width: 70px;
    }
    
    .instagram_profile_info > h1 {
        font-size: 2.5vw;
    }
    
    .count {
        font-size: 2vw;
    }
}
/* ----------------------------------------------------------------------------------------------- */
@media (max-width: 600px) {
    .consult_h1 > h1{
        font-size: 50px;
        margin-top: -45px;
    }

    .consult_h2 > h2{
        font-size: 20px;
        margin-top: 10px;
    }

    #consult_btn {
        font-size: 13px;
        margin-top: 15px;
    }

    .between_waves_1_2 {
        height: 170vw;
    }

    #instagram_follow_btn {
        margin-left: 3vw;
        font-size: .8rem;
    }
}
/* ----------------------------------------------------------------------------------------------- */
@media (max-width: 500px) {
    video {
        height: 100vw;
        object-fit: cover;
    }

    .gif {
        height: 100vw;
        object-fit: cover;
    }

    .consult_h1 > h1{
        font-size: 40px;
        margin-top: 20px;
    }

    .consult_h2 > h2{
        font-size: 15px;
        white-space: nowrap;
    }

    #consult_btn {
        font-size: 11px;
        width: 130px;
    }

    .video_waves svg {
        height: 43px;
    }
    
    .between_waves_1_2 {
        height: 500vw;
    }

    .home_serv_img1_div {
        padding-top: 0px;
        height: auto;
        width: 100%;
    }
    
    .home_serv_img_left {
        width: 100%;
        height: 80vw;
        border-radius: 0 0% 0% 0;
        /* transform: translateX(-10vw); */
        margin-top: 20px;
    }
    
    .home_serv_text_right {
        display: none;
        /* width: 70%;
        margin: 0vw;
        right: 0vw;
        transform: translate(-16vw, -33vw); */
    }
    
    .home_serv_text_right > span{
        font-size: 20px;
    }
    
    .home_serv_img2_div {
        /* padding-top: 225px; */
        text-align: left;
        height: auto;
        width: 100%;
    }
    
    .home_serv_img_right {
        /* height: 80vw; */
        width: 100%;
        border-radius: 0% 0 0 0%;

        margin-top: 20px;
        float: left;
        height: 80vw;
        aspect-ratio: 1 / 1;
        image-rendering: optimizeQuality;
        object-fit: cover;
        /* transform: translateX(-10vw); */
        /* border-radius: 0 50% 50% 0; */
        box-shadow: 0px 0px 3vmax 0vmax palevioletred;
    }
    
    .home_serv_text_left {
        display: none;
        /* width: 70%;
        left: 0vw;
        margin: 0vw;
        transform: translate(15vw, -34vw); */
    }
    
    .home_serv_text_left > span {
        font-size: 20px;
    }
    
    .home_serv_img3_div {
        /* padding-top: 255px; */
        height: auto;
        width: 100%;
    }

    .home_mobile_txt_div {
        visibility: visible;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        height: 60vw;
        width: 90%;
        
        background-color: transparent;
        /* background-color: white; */
        /* background-color: #4B0082; */
        /* background-color: #212529; */
        /* border-radius: 50% 0% 0% 50%; */
        aspect-ratio: 1 / 1;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .home_mobile_txt_div > span {
        font-family: 'Roboto';
        font-size: 20px;
        text-align: center;
        color: white;
    }

    .txt_grad {
        display: inline;
        animation: backgroundpan 4s linear infinite;
        background: linear-gradient(to right, purple, violet, pink, purple);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200%;
        /* white-space: nowrap; */
    }

    @keyframes backgroundpan {
        from {
            background-position: 0% center;
        }   
        to {
            background-position: -200% center;
        }
    }

    .home_serv_btn_div {
        display: flex;
        height: 70vw;
        align-items: center;
        justify-content: center;
    }

    #home_serv_btn {
        visibility: visible;
        appearance: none;
        background-color: #4B0082;
        color: white;
        font-size: 17px;
        border-color: white;
        border-width: 1px;
        padding: 10px 20px 10px 20px;
    }

    .waves2 svg {
        height: 43px;
    }

    /* #home_img_grid_override .card {
        height: 201px;
    } */

    .home_mission_div > h1{
        font-size: 6vw;
    }

    .waves3 {
        height: 150px;
    }

    .waves3 svg {
        height: 43px;
    }

    .instagram_profile_pic_wrapper {
        height: 65px;
        width: 65px;
    }

    .instagram_profile_pic {
        height: 60px;
        width: 60px;
    }
    
    .instagram_profile_info > h1 {
        font-size: 3.2vw;
    }
    
    .count {
        font-size: 2.7vw;
    }

    #instagram_follow_btn {
        margin-left: 3vw;
        font-size: .7rem;
    }
}
/* ----------------------------------------------------------------------------------------------- */
@media (max-width: 350px) {
    .consult_h1 > h1{
        font-size: 30px;
        margin-top: 15px;
    }

    .consult_h2 > h2{
        font-size: 13px;
        white-space: nowrap;
        margin-top: 15px;
    }

    #consult_btn {
        font-size: 11px;
        margin-top: 20px;
        width: 115px;
        padding-left: 2px;
        padding-right: 2px;
    }

    #home_serv_btn {
        margin-left: 38vw;
        margin-right: 33vw;
        font-size: 14px;
        padding: 8px 14px 8px 14px;
    }
}
