.intro {
    height: 300px;
    text-align: center;
    /* background-color: blueviolet; */
    background-color: rgb(33,37,41);
    /* background: linear-gradient(rgb(33,37,41) 60%, #4B0082) 10%; */
    /* background-color: #4B0082; */
    /* background: transparent; */
}

.intro_txt {
    color: white;
    position: relative;
    top: 40%;
    font-size: xx-large;
}

.container_img_grid_serv {
    /* min-width: 100%; */
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0px;
    /* background: linear-gradient(rgb(33,37,41), #4B0082); */

    /* background: linear-gradient(#4B0082 50%, rgb(33,37,41));
    background-size: 100% 100%;
    animation: gradi 15s ease infinite;
    background-attachment: fixed; */

    /* border-width: 1px 0px 1px 0px;
    border-color: black;
    border-style: solid; */

    background: transparent;
}

.serv_img_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#serv_img_grid_override .card {
    /* background-color: rgb(33,37,41); */
    height: 60vw;
    background: transparent;
    padding: 0px;
    margin: 0;
    border-width: 0px;
    border-radius: 0%;
    text-align: center;
    justify-content: center;
}

#serv_img_grid_override .card > img {
    height: 30vw;
}

.innerc {
    display: flex;
    flex-direction: column;
    height: 30vw !important;
    background: transparent;
    padding: 0px;
    margin: 0;
    border-width: 0px;
    border-radius: 0%;
    text-align: center;
    justify-content: center;
}

.serv_card_img {
    height: 100%;
    width: 100%;
    image-rendering: optimizeQuality;
    object-fit: cover;
}

.text_card {
    max-height: 45vw;
    min-height: 45vw;
    overflow: hidden;
}

.serv_card_h{
    color: white;
}

.serv_card_span {
    color: white;
    font-size: .8rem;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
}

.last-div {
    padding-top: 80px;
    padding-bottom: 60px;
    /* background: linear-gradient(rgb(40,37,48), #4B0082 70%); */
    /* background-color: #4B0082;
    box-shadow: 0 0 100vmax 100vmax #4B0082; */

    /* background-color: rgb(33,37,41);
    box-shadow: 0vmax 0vmax 100vmax 100vmax rgb(33 37 41); */

    /* clip-path: inset(0vmax 0vmax -100vmax 0vmax); */

    background: transparent;
}

#last-btn-override .last-btn {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    visibility: visible;
    appearance: none;
    background-color: #4B0082;
    color: white;
    font-size: 14.5px;
    border-color: white;
    border-width: 1px;
    padding: 8px 14.5px 8px 14.5px;
}

.mobile-card {
    display: none !important;
}

@media (max-width: 1015px) {
    .intro {
        padding-left: 20px;
        padding-right: 20px;
    }

    .serv_card_h {
        font-size: 23px;
    }

    .serv_card_span {
        font-size: 0.7rem;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 850px) {
    .serv_card_h {
        font-size: 20px;
    }

    .serv_card_span {
        font-size: 10px;
    }
}

@media (max-width: 770px) {
    /* make the home_img_grid 1 column instead of 3 */
    .serv_img_grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    #serv_img_grid_override .card {
        height: 100vw;
    }

    #serv_img_grid_override .card > img {
        height: 50vw;
    }

    .innerc {
        height: 50vw !important;
    }

    .hide-on-mobile {
        display: none !important;
        position: absolute !important;
    }

    .mobile-card {
        display: block !important;
    }

    #serv_img_grid_override .card {
        height: 100vw;
        padding: 0;
        margin: 0;
        border-width: 0px;
        border-radius: 0%;
        text-align: center;
        justify-content: center;
    }

    /* .serv_card_img {
        height: 45vw;
        width: 100%;
        image-rendering: optimizeQuality;
        object-fit: cover;
    } */

    .serv_card_h {
        font-size: 20px;
    }

    .serv_card_span {
        font-size: 0.7rem;
    }
    
}

@media (max-width: 500px) {
    .intro_txt {
        font-size: 20px;
    }

    #serv_img_grid_override .card {
        height: 160vw;
    }

    #serv_img_grid_override .card > img {
        height: 80vw;
    }

    .innerc {
        height: 80vw !important;
    }

    .serv_card_h{
        font-size: 19px;
    }

    .serv_card_span{
        font-size: 0.8rem;
    }
}