@import url('https://fonts.googleapis.com/css?family=Oswald');

.topbar {
    height: 100px;
}

.brand_name {
    font-family: 'Oswald';
    position: relative;
    color: white;
    margin-right: 150px;
}

.hb {
    width: 500px;
    font-size: xx-large;
}

.linksBox {
    flex-direction: row;
    font-family: 'Oswald';
}

#links_override .navLink{
    color: white;
    margin-right: 20px;
}
