@import url('https://fonts.googleapis.com/css?family=Oswald');

#navbar_override {
    max-width: 100%;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

#navbar_override .hb_logo_div {
    display: flex;
    align-items: center;
    max-width: 30%;
}

#navbar_override .hb_logo {
    height: 100px;
    margin-left: 30px;
}

.brand_name {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Oswald';
    font-size: 1.5rem;
    color: #fff;
    margin-left: 1rem;
}

.dj {
    font-size: 1rem;
}

.linksBox {
    max-width: fit-content;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}

.navLink {
    font-family: 'Oswald';
    font-size: 1.2rem;
    color: #fff;
    margin-left: 1rem;
}

.hamburger {
    margin-right: 30px;
}

@media (max-width: 991px) {
    .hb_logo_div {
        margin-right: auto;
    }

    .linksBox {
        margin-left: auto;
    }
}

@media (max-width: 420px) {
  #navbar_override .hb_logo_div {
      display: flex;
      align-items: center;
      max-width: 20%;
  }

  #navbar_override .hb_logo {
      height: 70px;
      margin-left: 30px;
  }

  .brand_name {
      padding-bottom: 10px;
      font-size: 1.25rem;
  }

  .dj {
      font-size: 0.75rem;
  }

  .hamburger {
    margin-right: 30px;
    /* margin-left: 50px; */
  }
}

@media (max-width: 310px) {
  #navbar_override .hb_logo {
    height: 60px;
    margin-left: 10px;
  }

  .hamburger {
    margin-right: 30px;
    margin-left: 20px;
  }
}

@media (max-width: 200px) {
  #navbar_override .hb_logo {
    height: 70px;
    margin-left: 45px;
  }

  .hamburger {
    margin-right: 30px;
    margin-left: 50px;
  }
}
  