.mission_intro {
    color: white;
    /* height: 500px; */
    justify-content: center;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 120px;
}

.mission_paragraph {
    margin-top: 70px;
    margin-bottom: 70px;
    padding-left: 100px;
    padding-right: 100px;
    overflow: auto;
}

.container_mission_grid {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 100px;
}

.mission_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#mission_grid_override .card {
    background-color: rgb(33,37,41);
    padding: 0;
    margin: 0;
    border-width: 0px;
    border-radius: 0%;
    text-align: center;
    justify-content: center;
}

.mission_h {
    color: white;
}

.mission_card_span {
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* when screen is smaller than 700px, the grid will be 1 column */
@media screen and (max-width: 700px) {
    .mission_grid {
        grid-template-columns: 1fr;
    }
}
