#feed_override .insta_col {
    width: 100%;
    aspect-ratio: 4/5;
    /* padding: 10px; */
    box-sizing: border-box;
    padding: 2px;
    
}

#feed_override .insta_row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px;
    margin-left: 2px;
    margin-right: 2px;
}

#feed_override img {
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
}

#feed_override video {
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
}